<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User History</title>
     {% load static %}
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'NewsTopicsManagement/history/css/logUtil.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'NewsTopicsManagement/history/css/logMain.css' %}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'socirank/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

</head>
<body>

<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'UserDataManagement/Login/images/bg-01.jpg'%}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="overflow-y: scroll;height:500px ; width:700px;background:#B266FF;">
				<ul class="list-group" style="">
					<span class="login100-form-title p-b-49" >
					   Search History :
					</span>
					{% for history in histories %}
						<div  class="list-group-item" style="overflow: hidden;word-break:break-all;radius:5px;">
							<li style="width:900px;height:30px;margin-bottom:10px;background:white; ">{{history}}</li>
						</div>
					{% endfor %}
                </ul>

				</form>
			</div>
		</div>
	</div>

</body>
</html>